{%include 'courses/head.html' %}
<h1 class="liscursos">Cursos</h1>

<p>
    <button class="bcurso" onclick="location.href='{% url 'courses:new' %}'" type="button">Crear curso</button>
</p>

<ul class="liscursos">
    {% for course in object_list %}
        <li>
            <p>{{ course.name }}</p>
            <p>
                <button class="bver" onclick="location.href='{% url 'courses:detail' course.id %}'" type="button">Ver</button>
                <button class="bver" onclick="location.href='{% url 'courses:edit' course.id %}'" type="button">Editar</button>
                <button class="bver" onclick="location.href='{% url 'courses:delete' course.id %}'" type="button">Borrar</button>
            </p>
        </li>
    {% endfor %}
</ul>